31218_정윤호_0313_34

입력명령어
### 입력명령어 형식
> inpit('입력안내문')

In [1]:
# 기본형식
input()

정윤호

'정윤호'

In [4]:
# 변수를 이용한 입력
a = int(input())
print(type(a))

2023
<class 'int'>

In [6]:
id = input('아이디 : ')
password = input('비밀번호 : ')
print('아이디는 : '+id )
print('비밀번호는 : '+password)

아이디 : jong
비밀번호 : 1234
아이디는 : jong
비밀번호는 : 1234

출력
'''

---성일 웹사이트 회원가입 ---
아이디 : 
000님 웹사이트 가입을 환영합니다.!!!

In [10]:
print('``` 성일 웹사이트 회원가입 ```')
id = input('아이디 : ')
print(id +' 님 웹사이트 가입을 환영합니다.!!!')

``` 성일 웹사이트 회원가입 ```
아이디 : jong
jong 님 웹사이트 가입을 환영합니다.!!!

### 1.변수
변수이름 = 저장할 데이터

In [13]:
# 변수를 이용한 출력
a = '안녕'
b = '하세요'
print(a,b)
print(a+b)

안녕 하세요
안녕하세요

In [14]:
c = '학생'
d = '고등'
e = '대'
print(d+c)

고등학생

### 변수를 활용하여 연산하기
1) 과일 가격 계산하기

In [21]:
apple = 1200
banana = 800
kiwi = 1700

#사과3개바나나1개 키위2개 구매한 가격은 ?
price = apple*3 + banana*1 + kiwi*2
print(price)

7800

vip는 20% 할인된다. 동일한 물건을 구매했을 때 vip가 내는 가격을 새로운 변수에 저장하여 출력하기

In [22]:
vip_price = price *0.8
print('vip가 되시면',price,'원을', vip_price,'원을 구매 가능합니다.!!!')

vip가 되시면 7800 원을 6240.0 원을 구매 가능합니다.!!!

2) 1년 마다 키가10cm씩 자라는 농구선수가 있다.

.2017년 - 175.5cm
.2018년 - 185.5cm
.2019년 - 195.5cm
.2020년 - 205.5cm
 
 년도별 농구선수의 키를 출력해보자

In [42]:
print('2017년 175.5cm')
print('2018년 185.5cm')
print('2019년 195.5cm')
print('2020년 205.5cm')

2017년 175.5cm
2018년 185.5cm
2019년 195.5cm
2020년 205.5cm